.Zoidberg {
        display:flex;
        justify-content: center;
        height: 200px;
        width:100%;
        background-color:black;
}
.words {
    background-color:black;
    color:white;
    display:flex;
    justify-content: center;
}
.leftnright{
    display:flex;
    }
.lefty{
    width:45%;
    }
.righty {
    background-color:grey;
    text-align:right;
    width:75%;
    }
.three {
    display:flex;
    justify-content:space-between;
    background-color:black;
}
.pictur {
    width:600px;
    height:400px;
}